{% block header %}
    <ul class="navBar">
        <li class="item"><a href="../../index.php"> Home</a></li>
        <li class="item"><a href="../../products.php"> Products</a></li>
    </ul>
{% endblock %}