<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
            Generic title
        {% endblock %}
    </title>

    {% block stylesheets %}
{#        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" href="/assets/images/favicon.png">#}
    {% endblock %}
    {# block javascripts #}{# endblock #}
</head>

<body>

{% include '_header.html.twig' %}

{% block header %}
    <header></header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer></footer>
{% endblock %}

{% include '_footer.html.twig' %}

</body>
</html>