{% extends "layout.html.twig" %}

{% block header %}
    <ul class="navBar">
        <li class="item"><a href="home.html.twig"> Home</a></li>
        <li class="item"><a href="products.html.twig"> Products</a></li>
    </ul>
{% endblock %}