{% extends "home.html.twig" %}

{% block title %}Mes produits{% endblock %}

    {% block body %}
        <h1>Liste des produits</h1>

        <ul>
            {% for product in products %}
                <li>{{ product }}</li>
            {% endfor %}
        </ul>

        {{ dump(product) }}

    {% endblock %}

